body{
    background-color: rgb(136, 171, 142) !important;
    background-color: rgb(175, 200, 173) !important ;

    background-color: rgb(240, 241, 248) !important ;

    

}

header{
    background-color: rgb(238, 231, 218);

     background-color: rgb(32, 32, 32) !important ;
     background-image: url("./resources/img/mountain.jpg") ;
     background-repeat: no-repeat;
     background-size: cover;

     width: 95%;
     height: 400px;
}


h1{
    font-size:160px !important;
}


.frontEnd {
    color: rgb(164, 196, 224) !important;
}

/*intro*/

.introBtn{
    background-color: rgba(95, 106, 165, 0.507) !important;
}

#intro{
    text-align: left;
   

    background-color: rgba(43, 10, 133, 0.192);
    position: absolute;
   
    right: 15%;
    width: 250px;
    color: white;
}




/*main*/

.listDiv{
    background-color: rgba(49, 95, 179, 0) !important;

}

.skills h3{
    color:rgb(37, 84, 145);
    text-align: center;

}

.skills{

    text-align: left;
    width: 200px;
}

ul li{
   
    margin: 5px;
    list-style-type: circle;
    background-color: rgba(72, 103, 131, 0.123);
    border-radius: 4px; 
    color:rgb(56, 113, 187);
}

.container{
    border: 1px solid rgba(71, 109, 236, 0) !important;
}


.mainContainer{
    background-color: rgb(238, 231, 218) !important;

    background-color: rgb(255, 255, 255) !important;

}

.codingInfo{
    text-align: justify;
    text-justify: inter-word;
    background-color: rgb(242, 241, 235);
}

h2{
  /* background-color: rgba(240, 248, 255, 0.199);*/
   text-decoration: underline 4px solid rgba(132, 150, 132, 0.123);
    font-size: 50px !important;
    color: rgb(41, 84, 148) !important;
}


.row{
    background-color: rgba(53, 54, 53, 0.377) !important;

   background-color: rgba(72, 103, 131, 0.123) !important;
   width: 70%;
}


.card{
    max-width: 250px;
   
    background-color: rgb(255, 255, 255) !important;
}

.card img{
    height: 160px;
    min-height: 160px;
    padding: 1px;
/*
    border-radius: 10em 10em 0 0 ;
    border-radius: 50%;
    min-height: 220px;*/
}

.card-footer{
    background-color: rgba(242, 241, 235, 0.589);
}


.card-title{

    border-radius: 4px;
    text-align: center;
    padding: 8px;
    box-shadow:  10px 10px 10px 5px rgba(8, 52, 119, 0.068);
    position: relative;
    text-decoration: underline 2px solid rgba(137, 153, 122, 0.171);
}

.bi:not(:first-child){
position: absolute;
right: 0px;
top: 0px;
    
}


@media only screen and (max-width: 766px) {
     .col{
      display: flex !important;
      justify-content: center !important;
      
    }

    .codingInfo{


    }


  }